<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>target1900</title>
    <link rel="stylesheet" href="stylsheet.css">
  </head>
  <body>
    <form method="post"> <!--ここでform全体がpostデータとして送信される-->
        範囲<br>
        はじめ : <input type="number" name="start"><br>
        おわり : <input type="number" name="end"><br>
        <input type="submit">
    </form>
  </body>
</html>